[build]
  publish = "."
  functions = "netlify/functions"

[functions]
  included_files = [
    "netlify/functions/*.js",
    "package.json",
    "package-lock.json"
  ]

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
